/* HEADER EXTRA PART STYLED */
.card-btn {
  padding: 5px;
  font-size: 13px;
  background-color: rgba(128, 128, 128, 0.233);
  border: none;
}
.card-icon {
  color: rgba(199, 13, 13, 0.753);
  cursor: pointer;
  margin-top: 10px;
}
.log-in,
.register {
  text-decoration: none;
  font-size: 13px;
  color: black;
  margin-top: 8px;
}
/* WARNING NUMBER 01 STYLED */
#danger1 {
  display: none;
  font-size: 20px;
  font-weight: 600;
}
/* WARNING NUMBER 02 STYLED */
#danger2 {
  display: none;
  font-size: 20px;
  font-weight: 600;
}
/* SPINER STYLED */
#spiner {
  display: none;
}
/* SHOW MORE PHONE BUTTON STYLED */
#show-more {
  display: none;
}
